.uploadfoto {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}

.form-upload-foto {
    border: 2px dashed #ced4da;
    width: 40%;
    height: 110px;
    position: relative;
    background: #fff;
    line-height: 1.5;
}

.form-upload-foto:hover {
    cursor: pointer;
    border-color: #80bdff;
}

.form-upload-foto input[type=file] {
    display: none;
}

.form-upload-foto img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    margin: -20px 0 0 -20px;
    transition: 0.3s ease-out;
}

.form-upload-foto:hover>img {
    width: 50px;
    margin: -25px 0 0 -25px;
}

.form-upload-foto:disabled,
.form-upload-foto[readonly] {
    background: #e8e8e8 !important;
    border-color: #ced4da;
    cursor: not-allowed;
}

.form-upload-foto:disabled,
.form-upload-foto[readonly] {
    opacity: 0.6 !important;
}

.form-upload-text {
    display: block;
    margin-top: -5px;
}

.form-result {
    width: 40%;
    height: 110px;
    position: relative;
    background: #fff;
    line-height: 1.5;
    display: none;
}

.form-result img {
    position: relative;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    top: 20%;
    left: 20%;
    transform: translate(-20%, -20%);
}

.close-img {
    position: absolute;
    margin-left: 85%;
    margin-top: -20px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: .5;
}

.close-img:hover {
    color: #000;
    text-decoration: none;
}

.close-img:not(:disabled):not(.disabled):hover,
.close-img:not(:disabled):not(.disabled):focus {
    opacity: .75;
}

.close-img:hover {
    cursor: pointer;
}

button.close-img {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

span.required {
    color: #ff0000;
}

/* checkbox cursor pointer */
.custom-control-label {
    cursor: pointer;
}

/* table cursor pointer */
.table-pointer {
    cursor: pointer;
}

.toolbar-header {
    padding: 0.75rem 0.10rem;
    margin-top: -20px;
    overflow-y: auto;
}

ol.alert {
    list-style-type: none;
    text-align: left;
    line-height: 0.25em;
    height: auto;
}

.form-group.customcheck {
    margin-top: 27px;
}

.invoice-no {
    font-size: 21px;
    margin-top: -10px;
    text-align: left;
}

.grandtotal {
    font-size: 40px;
    text-align: right;
    color: #ff0000;
}

/* Line */
hr.solid {
    border-top: 2px solid #bbb;
}

.input-group .quantity-field {
    text-align: center;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* ui autocomple */
.ui-corner-all {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.ui-menu {
    position: absolute;
    float: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    outline: 0;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), none;
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    max-height: 300px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000 !important;
}

.ui-menu .ui-menu-item a {
    color: #888;
}

.ui-menu .ui-menu-item:hover {
    display: block;
    text-decoration: none;
    color: #3D3D3D;
    cursor: pointer;
    background-color: lightgray;
    background-image: none;
    border: 1px solid lightgray;
}

.ui-menu .ui-menu-item:focus {
    display: block;
    text-decoration: none;
    color: #3D3D3D;
    cursor: pointer;
    background-color: lightgray;
    background-image: none;
    border: 1px solid lightgray;
}

.ui-autocomplete {
    position: absolute;
    list-style: none;
    list-style-type: none;
    padding: 0;
    font-weight: 400;
    line-height: 1.5;
}

.ui-autocomplete-row {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
}

.ui-autocomplete-row img {
    float: left;
    margin: 0 15px 0 0;
    width: 75px;
    height: 75px;
}

.ui-autocomplete-row h3 {
    font: bold 18px Helvetica, Verdana, sans-serif;
    line-height: 1.5;
}

.ui-autocomplete-row p {
    font: 200 15px Times New Roman;
    line-height: 0.75;
    color: #ff0000;
}

/* button list */
.flex-parent {
    display: flex;
}

button.margin-right {
    margin-right: 20px;
}

.swal-docaction {
    width: 350px !important;
}

/* Header dataTable Column */
.dataTables_scrollHeadInner {
    width: 100% !important;
}

.dataTables_scrollHeadInner .table-stretch {
    width: 100% !important;
}

/* Hidden card view page */
.card-form,
.card-button,
.card-table-report {
    display: none
}

.rounded-image {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
}

.rectangle-image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.select2-container--open {
    z-index: 99999999999999;
}

.table-line>thead>tr>th,
.table-line>tbody>tr>th,
.table-line>tfoot>tr>th,
.table-line>thead>tr>td,
.table-line>tbody>tr>td,
.table-line>tfoot>tr>td {
    vertical-align: middle;
}

.table-line {
    border-collapse: separate !important;
    border-spacing: 0 !important;
}

.table-line>tbody>tr>td,
.table-line>tbody>tr>th {
    padding: 8px;
}

.table-line>tfoot>tr>td,
.table-line>tfoot>tr>th {
    padding: 8px;
}

.table-line thead th {
    border-bottom-width: 2px;
    font-weight: 600;
}

.table-line td,
.table-line th {
    font-size: 14px;
    border-top-width: 0px;
    border-color: #ebedf2 !important;
    padding: 0 2px !important;
    height: 60px;
    vertical-align: middle !important;
}

.table-rounded>thead>tr>th,
.table-rounded>tbody>tr>th,
.table-rounded>tfoot>tr>th,
.table-rounded>thead>tr>td,
.table-rounded>tbody>tr>td,
.table-rounded>tfoot>tr>td {
    vertical-align: middle;
}

.table-rounded {
    border-collapse: separate !important;
    border-spacing: 0 !important;
}

.table-rounded>tbody>tr>td,
.table-rounded>tbody>tr>th {
    padding: 8px;
}

.table-rounded>tfoot>tr>td,
.table-rounded>tfoot>tr>th {
    padding: 8px;
}

.table-rounded thead th {
    border-bottom-width: 2px;
    font-weight: 600;
}

.table-rounded td,
.table-rounded th {
    font-size: 14px;
    border-top-width: 0px;
    border-bottom: 1px solid;
    border-color: #ebedf2 !important;
    border-top: 1px solid #ebedf2 !important;
    border-left: 1px solid #ebedf2 !important;
    border-right: 1px solid #ebedf2 !important;
    padding: 0 2px !important;
    height: 60px;
    vertical-align: middle !important;
}

/* top-left border-radius */
.table-rounded tr:first-child th:first-child {
    border-top-left-radius: 0.50rem !important;
}

/* top-right border-radius */
.table-rounded tr:first-child th:last-child {
    border-top-right-radius: 0.50rem !important;
}

.tb_display {
    white-space: pre;
    width: 100%;
}

/* Datatable Button Collection */
div.dt-button-collection {
    width: 100px;
}

table.dataTable tbody tr.selected>* {
    box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.9);
    color: white;
}

.autocomplete-suggestions {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    direction: ltr;
    border: 0 !important;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2) !important;
    -moz-box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2) !important;
    box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2) !important;
    font-size: 100%;
    margin-bottom: 20px !important;
    background: #FFF;
    cursor: pointer;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 5px 20px 5px 8px;
    white-space: nowrap;
    overflow: hidden;
}
.autocomplete-suggestions::before {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    top: -7px;
    left: 7px;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #1572E8;
}

@media all and (min-width: 992px) {
	.nav-tabs .nav-item .dropdown-menu { 
        display: none; 
    }

	.nav-tabs .nav-item:hover .dropdown-menu { 
        display: block;
    }

	.nav-tabs .nav-item .dropdown-menu { 
        margin-top:0; 
    }

    .nav-tabs .nav-item .dropdown-menu a:hover {
        color: #F0F0F0;
        background-color: #1d7af3;
    }
}
